.footer {
  background: #1677ff;
  padding: 20px;
  border-radius: 6px;
  margin-top: 10px;

  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer nav {
  width: 70%;
  /* Flexbox */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer nav span {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  padding: 10px;

  /* Flexbox */
  flex-grow: 1;
}

.footer nav span:hover {
  background: var(--otro--uno);
}

.footer .social {
  text-decoration: none;
}

.footer .social a:hover {
  background-color: var(--otro--uno);
}

.footer .social a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
